body
{
	margin: 0;
	padding: 0;
}
nav
{
	background-color: #FFFFFF !important;
	box-shadow: none !important;
	line-height:66px !important;
}
nav .button-collapse
{
    height: 56px;
	width: 56px;
	background-color:#3366CC;
}
nav a.button-collapse
{
	display:inline !important;
	margin-top: 2px;
}
nav .button-collapse:hover
{
	background-color:#FFF8E1;
}
#topnav
{
	width: 100%;
	background-color: #FFFFFF !important;
	font-size: 25px;
	border-bottom:solid 2px #3366CC;
    opacity: 0.9;
}
#topnav a
{
	color:#000000 !important;
}

.sticky
{
	width:100%;
	position:fixed;
	top: 0;
	z-index:100;
}
#logo
{
	margin-top: 28px;
}
#logoimg img
{
	border:2px solid #81D4FA;
}
#numerek
{
	color:black;
	text-align: center;
	padding: 0px !important;
}
#up
{
	text-align: center;
	border-left: 1px dotted #000000;
	padding: 0px !important;
}
.search form
{
	margin-right:5px;
}

#topnav #up:hover
{
	background-color: #FFE5BE;
}
#topnav #up:hover:last-child
{
	background-color: white !important;
}
input[type=text]
{
	font-size: 25px !important;
	text-align: center;
	color: #000000 !important;
	margin:0 !important;
}
.side-nav
{
	background-color: #FFE980 !important;
}
.side-nav > li a
{
	font-size: 28px !important;
	letter-spacing: 1px;
}
.side-nav > li a:hover
{
	background-color: #FFE5BE !important;
}
.side-nav > li #to:hover
{
	background-color: #FFE5BE !important;
}
#slide-out 
{
	width: 300px; 
}
#slide-out  li i
{
	font-size: 34px !important;
}
.material-icons
{
	font-size: 40px !important;
}
ul > li i
{
	font-size: 10px !important;
}
#to
{
	height: 90px !important;
}
.nav-wrapper
{
	background-color:#FFF8E1;
	width:100%;
}
.nav-wrapper > #ulcont > ul > li:first-child
{
	border-left:1px dotted #000000;
}
#ulcont
{
	width:84%;
	margin-left:auto;
	margin-right:auto;
}
#ulcont > ul > li
{
	width:25%;
}
#ulcont > ul > li:first-child
{
		border-left:1px dotted #000000;
}
.dropdown-button
{
	background-color:#FFF8E1;
	color:#000000;
	font-size:24px;
	border-right:1px dotted #000000;
}
.dropdown-content li > a
{
	color:#000000 !important;
	font-size:20px;
}
#navdol
{
	background-color: #303845 !important;
	margin-bottom:100px;
	line-height: 64px !important;
}
.margin
{	height: 15px;
    background-color: #81D4FA;
}
#news
{
    background-color: #81D4FA;
    margin:0px;
}
#newsimg img
{
	margin-left: 20px;
	margin-top: 20px;
	width:184px;
	height:184px;
	border-radius: 2px;
}
.header /* Nagłówek w newsach */ 
{
	text-align:left;
	margin-top: 0px;
	margin-top: 0px !important;
}
#czytajdalej
{
	text-align: right;
	background-color: #FFFFFF;
}
#czytajdalej a
{
	color: black;
}

 #onasrow
{
  background-color: #81D4FA;
  margin-bottom: 0px !important;
  border-bottom: 5px solid #FFFFFF;
  border-top: 5px solid #FFFFFF;
}
#onas
{
  background-color: #5C648E;
  color: #FFFFFF;

}
#onastxt
{
  font-size: 16px;
  text-align: justify;
-webkit-box-shadow: 23px 25px 207px -45px rgba(41,64,90,1);
-moz-box-shadow: 23px 25px 207px -45px rgba(41,64,90,1);
box-shadow: 23px 25px 207px -45px rgba(41,64,90,1);
}
#opisimg
{
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
} 
.page-footer
{
	background-color: #29405A !important;
}
.page-footer .footer-copyright .container
{
	text-align: center;
}
#slider
{
	background-color: rgba(51,51,51,0.08) !important;
}
#slider img
{
    width:180px;
    height:120px;
}
#footer-prawo
{
	color: #FFFFFF;
	text-align: center;
	margin-top: 20px;
}
.kontakt-footer
{
	line-height: 25px;
}
